span{
    color: rgba(255, 255, 255, 0.562);
}
.descrip{

    position:absolute;
    display: none;
    transform: translate(50%, 10%);
    color: #000000;
    width: 15rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
    fill-opacity: 10%;


}
.botton{
    display: flex;
}



@media (min-width: 500px ) {
    .aux:hover .descrip{
        background: #000000d3;
        display:block;
        z-index: 1;
       
    }
    img:hover{
         filter: brightness(0.5);
    }
    .descrip:hover img{
        filter: brightness(0.5);
    }
    .botton{
        display: none;
    }
}